#nav{

    
    
    display: flex;

    height:auto;

    width: 100%;
position: fixed;
    

    justify-content: center;

    background-color: black;



   


}

a{
 color: white;
 font-size: large;
    padding: 30px;
    text-decoration: none;
  
    
}

@media screen and (max-width: 600px )  {

button{

   
width: 100%;




}

a{
    color: white;
    font-size: large;
       padding: 30px;
       text-decoration: none;
       width: 100%;
       display: inline-block;
      
   }



#nav {

flex-direction: column;


}


}

button{

 
    padding: 20px;
text-decoration: none;
margin-left: 10px;
    background-color: white;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;

}




