#Sectionfive{

    display: inline-flexbox;
    
    width: 100%;

flex-direction: column;
    height: 100vh;
    
 background-color: black;

    
    }


@media  screen  and (max-width :600px){



    #Sectionfive{  
    
height: auto;
    flex-direction: row;
       
        background-color: black;
       
        
    }
    

#left{
padding-top: 0px;
   
    margin-left: 0px;
}

#Sectionfive span a{
margin: 4px;
    padding: 0%;
}

}




#Sectionfive a{
 
   text-decoration: underline;
margin-top: 15%;
padding: 50px;
  
}


#Sectionfive h1{


    font-size: 350%;
    color: white;
    margin-left: 10%;
  
   
    
        }


        #left{

            margin-left: 20%;
padding-top: 5%;
          
        }


   
    